services:
  frontend:
    init: true
    build:
      context: .
      dockerfile: Dockerfile
      args:
        NEXT_PUBLIC_ENV_MODE: ${NEXT_PUBLIC_ENV_MODE}
        NEXT_PUBLIC_SUPABASE_URL: ${NEXT_PUBLIC_SUPABASE_URL}
        NEXT_PUBLIC_SUPABASE_ANON_KEY: ${NEXT_PUBLIC_SUPABASE_ANON_KEY}
        NEXT_PUBLIC_BACKEND_URL: ${NEXT_PUBLIC_BACKEND_URL}
        NEXT_PUBLIC_URL: ${NEXT_PUBLIC_URL}
        NEXT_PUBLIC_GOOGLE_CLIENT_ID: ${NEXT_PUBLIC_GOOGLE_CLIENT_ID}
        NEXT_PUBLIC_POSTHOG_KEY: ${NEXT_PUBLIC_POSTHOG_KEY}
        KORTIX_ADMIN_API_KEY: ${KORTIX_ADMIN_API_KEY}
        EDGE_CONFIG: ${EDGE_CONFIG}
    environment:
      NEXT_PUBLIC_ENV_MODE: ${NEXT_PUBLIC_ENV_MODE}
      NEXT_PUBLIC_SUPABASE_URL: ${NEXT_PUBLIC_SUPABASE_URL}
      NEXT_PUBLIC_SUPABASE_ANON_KEY: ${NEXT_PUBLIC_SUPABASE_ANON_KEY}
      NEXT_PUBLIC_BACKEND_URL: ${NEXT_PUBLIC_BACKEND_URL}
      NEXT_PUBLIC_URL: ${NEXT_PUBLIC_URL}
      NEXT_PUBLIC_GOOGLE_CLIENT_ID: ${NEXT_PUBLIC_GOOGLE_CLIENT_ID}
      NEXT_PUBLIC_POSTHOG_KEY: ${NEXT_PUBLIC_POSTHOG_KEY}
      KORTIX_ADMIN_API_KEY: ${KORTIX_ADMIN_API_KEY}
      EDGE_CONFIG: ${EDGE_CONFIG}
    ports:
      - "3000:3000"
